<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.PermissionMapper">

    <resultMap id="permissionMap" type="org.teemola.demo.util.model.One2Many">
        <id column="username" property="username"/>
        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <collection property="menuList" ofType="String">
            <id column="menuCode" property="menuCode"/>
        </collection>
        <collection property="permissionList" ofType="String">
            <id column="permissionCode" property="permissionCode"/>
        </collection>
    </resultMap>

    <select id="getUserPermission" resultType="org.teemola.demo.entity.Permission">
        select
            u.name              username,
            r.id              roleId,
            r.name            roleName,
            p.menu_code       menuCode,
            p.permission_code permissionCode
        from
            sys_user u
               LEFT JOIN user_role ON u.id = user_role.uid
               LEFT JOIN sys_role r ON user_role.rid = r.id
               LEFT JOIN role_permission ON r.id = role_permission.rid
               LEFT JOIN sys_permission p ON  role_permission.pid = p.id
        where  u.name = #{username}
          and  u.delete_status = 0
    </select>

</mapper>