<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.YktClassGroupInfoMapper">
  <resultMap id="BaseResultMap" type="org.teemola.demo.entity.YktClassGroupInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="typegroupid" jdbcType="INTEGER" property="typegroupid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
    <result column="limit" jdbcType="INTEGER" property="limit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupid, typegroupid, createtime, updatetime, is_deleted, remark, groupname, 
    limit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yktclassgroupinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yktclassgroupinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.teemola.demo.entity.YktClassGroupInfo">
    insert into yktclassgroupinfo (id, groupid, typegroupid, 
      createtime, updatetime, is_deleted, 
      remark, groupname, limit
      )
    values (#{id,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{typegroupid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, #{limit,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.teemola.demo.entity.YktClassGroupInfo">
    insert into yktclassgroupinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="typegroupid != null">
        typegroupid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="groupname != null">
        groupname,
      </if>
      <if test="limit != null">
        limit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="typegroupid != null">
        #{typegroupid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="limit != null">
        #{limit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.teemola.demo.entity.YktClassGroupInfo">
    update yktclassgroupinfo
    <set>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="typegroupid != null">
        typegroupid = #{typegroupid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupname != null">
        groupname = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="limit != null">
        limit = #{limit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.teemola.demo.entity.YktClassGroupInfo">
    update yktclassgroupinfo
    set groupid = #{groupid,jdbcType=INTEGER},
      typegroupid = #{typegroupid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      groupname = #{groupname,jdbcType=VARCHAR},
      limit = #{limit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>