<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.YktCoursePeriodInfoMapper">
  <resultMap id="BaseResultMap" type="org.teemola.demo.entity.YktCoursePeriodInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="termid" jdbcType="INTEGER" property="termid" />
    <result column="courseperiodid" jdbcType="INTEGER" property="courseperiodid" />
    <result column="courseidschool" jdbcType="INTEGER" property="courseidschool" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="courseperiodname" jdbcType="VARCHAR" property="courseperiodname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, termid, courseperiodid, courseidschool, uid, courseperiodname, createtime, updatetime, 
    is_deleted, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yktcourseperiodinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yktcourseperiodinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.teemola.demo.entity.YktCoursePeriodInfo">
    insert into yktcourseperiodinfo (id, termid, courseperiodid, 
      courseidschool, uid, courseperiodname, 
      createtime, updatetime, is_deleted, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{termid,jdbcType=INTEGER}, #{courseperiodid,jdbcType=INTEGER}, 
      #{courseidschool,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{courseperiodname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.teemola.demo.entity.YktCoursePeriodInfo">
    insert into yktcourseperiodinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="termid != null">
        termid,
      </if>
      <if test="courseperiodid != null">
        courseperiodid,
      </if>
      <if test="courseidschool != null">
        courseidschool,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="courseperiodname != null">
        courseperiodname,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="termid != null">
        #{termid,jdbcType=INTEGER},
      </if>
      <if test="courseperiodid != null">
        #{courseperiodid,jdbcType=INTEGER},
      </if>
      <if test="courseidschool != null">
        #{courseidschool,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="courseperiodname != null">
        #{courseperiodname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.teemola.demo.entity.YktCoursePeriodInfo">
    update yktcourseperiodinfo
    <set>
      <if test="termid != null">
        termid = #{termid,jdbcType=INTEGER},
      </if>
      <if test="courseperiodid != null">
        courseperiodid = #{courseperiodid,jdbcType=INTEGER},
      </if>
      <if test="courseidschool != null">
        courseidschool = #{courseidschool,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="courseperiodname != null">
        courseperiodname = #{courseperiodname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.teemola.demo.entity.YktCoursePeriodInfo">
    update yktcourseperiodinfo
    set termid = #{termid,jdbcType=INTEGER},
      courseperiodid = #{courseperiodid,jdbcType=INTEGER},
      courseidschool = #{courseidschool,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      courseperiodname = #{courseperiodname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>