<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.YktClassGroupScoreInfoMapper">
  <resultMap id="BaseResultMap" type="org.teemola.demo.entity.YktClassGroupScoreInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topicid" jdbcType="INTEGER" property="topicid" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="teachergoal" jdbcType="INTEGER" property="teachergoal" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="classcrt" jdbcType="INTEGER" property="classcrt" />
    <result column="leaderweight" jdbcType="INTEGER" property="leaderweight" />
    <result column="courseperiod" jdbcType="INTEGER" property="courseperiod" />
    <result column="topiccontent" jdbcType="VARCHAR" property="topiccontent" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topicid, groupid, teachergoal, userid, classcrt, leaderweight, courseperiod, 
    topiccontent, createtime, updatetime, is_deleted, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yktclassgroupscoreinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yktclassgroupscoreinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.teemola.demo.entity.YktClassGroupScoreInfo">
    insert into yktclassgroupscoreinfo (id, topicid, groupid, 
      teachergoal, userid, classcrt, 
      leaderweight, courseperiod, topiccontent, 
      createtime, updatetime, is_deleted, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{topicid,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, 
      #{teachergoal,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{classcrt,jdbcType=INTEGER}, 
      #{leaderweight,jdbcType=INTEGER}, #{courseperiod,jdbcType=INTEGER}, #{topiccontent,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.teemola.demo.entity.YktClassGroupScoreInfo">
    insert into yktclassgroupscoreinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicid != null">
        topicid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="teachergoal != null">
        teachergoal,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="classcrt != null">
        classcrt,
      </if>
      <if test="leaderweight != null">
        leaderweight,
      </if>
      <if test="courseperiod != null">
        courseperiod,
      </if>
      <if test="topiccontent != null">
        topiccontent,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="teachergoal != null">
        #{teachergoal,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="classcrt != null">
        #{classcrt,jdbcType=INTEGER},
      </if>
      <if test="leaderweight != null">
        #{leaderweight,jdbcType=INTEGER},
      </if>
      <if test="courseperiod != null">
        #{courseperiod,jdbcType=INTEGER},
      </if>
      <if test="topiccontent != null">
        #{topiccontent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.teemola.demo.entity.YktClassGroupScoreInfo">
    update yktclassgroupscoreinfo
    <set>
      <if test="topicid != null">
        topicid = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="teachergoal != null">
        teachergoal = #{teachergoal,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="classcrt != null">
        classcrt = #{classcrt,jdbcType=INTEGER},
      </if>
      <if test="leaderweight != null">
        leaderweight = #{leaderweight,jdbcType=INTEGER},
      </if>
      <if test="courseperiod != null">
        courseperiod = #{courseperiod,jdbcType=INTEGER},
      </if>
      <if test="topiccontent != null">
        topiccontent = #{topiccontent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.teemola.demo.entity.YktClassGroupScoreInfo">
    update yktclassgroupscoreinfo
    set topicid = #{topicid,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      teachergoal = #{teachergoal,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      classcrt = #{classcrt,jdbcType=INTEGER},
      leaderweight = #{leaderweight,jdbcType=INTEGER},
      courseperiod = #{courseperiod,jdbcType=INTEGER},
      topiccontent = #{topiccontent,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>