<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.YktMemberScoreInfoMapper">
  <resultMap id="BaseResultMap" type="org.teemola.demo.entity.YktMemberScoreInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="topickey" jdbcType="VARCHAR" property="topickey" />
    <result column="leadergoal" jdbcType="INTEGER" property="leadergoal" />
    <result column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="topicid" jdbcType="INTEGER" property="topicid" />
    <result column="isleader" jdbcType="TINYINT" property="isleader" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, topickey, leadergoal, groupid, topicid, isleader, createtime, updatetime, 
    is_deleted, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yktmemberscoreinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yktmemberscoreinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.teemola.demo.entity.YktMemberScoreInfo">
    insert into yktmemberscoreinfo (id, userid, topickey, 
      leadergoal, groupid, topicid, 
      isleader, createtime, updatetime, 
      is_deleted, remark)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{topickey,jdbcType=VARCHAR}, 
      #{leadergoal,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{topicid,jdbcType=INTEGER}, 
      #{isleader,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.teemola.demo.entity.YktMemberScoreInfo">
    insert into yktmemberscoreinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="topickey != null">
        topickey,
      </if>
      <if test="leadergoal != null">
        leadergoal,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="topicid != null">
        topicid,
      </if>
      <if test="isleader != null">
        isleader,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="topickey != null">
        #{topickey,jdbcType=VARCHAR},
      </if>
      <if test="leadergoal != null">
        #{leadergoal,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="isleader != null">
        #{isleader,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.teemola.demo.entity.YktMemberScoreInfo">
    update yktmemberscoreinfo
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="topickey != null">
        topickey = #{topickey,jdbcType=VARCHAR},
      </if>
      <if test="leadergoal != null">
        leadergoal = #{leadergoal,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="topicid != null">
        topicid = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="isleader != null">
        isleader = #{isleader,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.teemola.demo.entity.YktMemberScoreInfo">
    update yktmemberscoreinfo
    set userid = #{userid,jdbcType=INTEGER},
      topickey = #{topickey,jdbcType=VARCHAR},
      leadergoal = #{leadergoal,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      topicid = #{topicid,jdbcType=INTEGER},
      isleader = #{isleader,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>