<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teemola.demo.dao.YktStudentDutyInfoMapper">
  <resultMap id="BaseResultMap" type="org.teemola.demo.entity.YktStudentDutyInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="issign" jdbcType="BIT" property="issign" />
    <result column="signtime" jdbcType="DATE" property="signtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="classdetailid" jdbcType="INTEGER" property="classdetailid" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, issign, signtime, state, createtime, updatetime, classdetailid, is_deleted, 
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yktstudentdutyinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yktstudentdutyinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.teemola.demo.entity.YktStudentDutyInfo">
    insert into yktstudentdutyinfo (id, userid, issign, 
      signtime, state, createtime, 
      updatetime, classdetailid, is_deleted, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{issign,jdbcType=BIT}, 
      #{signtime,jdbcType=DATE}, #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{classdetailid,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.teemola.demo.entity.YktStudentDutyInfo">
    insert into yktstudentdutyinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="issign != null">
        issign,
      </if>
      <if test="signtime != null">
        signtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="classdetailid != null">
        classdetailid,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="issign != null">
        #{issign,jdbcType=BIT},
      </if>
      <if test="signtime != null">
        #{signtime,jdbcType=DATE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="classdetailid != null">
        #{classdetailid,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.teemola.demo.entity.YktStudentDutyInfo">
    update yktstudentdutyinfo
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="issign != null">
        issign = #{issign,jdbcType=BIT},
      </if>
      <if test="signtime != null">
        signtime = #{signtime,jdbcType=DATE},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="classdetailid != null">
        classdetailid = #{classdetailid,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.teemola.demo.entity.YktStudentDutyInfo">
    update yktstudentdutyinfo
    set userid = #{userid,jdbcType=INTEGER},
      issign = #{issign,jdbcType=BIT},
      signtime = #{signtime,jdbcType=DATE},
      state = #{state,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      classdetailid = #{classdetailid,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>